@import url("https://use.typekit.net/wnp6cof.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    *:focus {
        padding: 0.1em;
        color: #DA953A;
        outline-color: rgba(78,100,88,0.7);
    }
    html {
        font-family: Hind, sans-serif;
        font-weight: 200;
    }
    .linkcard {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        opacity: 0;
    }
    /*.test{*/
    /*    background-image: url("../../../../Pictures/studio-ghibli-forest-clearing-forest-landscape-oak-hd-wallpaper-b8e66d7830908c38504c617e28c2148a.jpeg");*/
    /*}*/
    .burger_position{
        position: absolute;
        top: 100%;
        left: -9999px;
        min-height: 100%;
    }
    .hover_section{
        top: 30px;
        left: -12px;
        right: -12px;
        opacity: 0;
        visibility: hidden;
    }
    .user_name:hover .hover_section{
        opacity: 1;
        visibility: visible;
    }
    #burger:checked ~ .burger_position{
        position: absolute;
        top: 100%;
        left: 0px;
        min-height: 100%;
    }


}
